<?php

$config = PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        '@PSR2'                              => true,
        '@Symfony'                           => true,
        'no_whitespace_in_blank_line'        => true,
        'phpdoc_align'                       => true,
        'phpdoc_indent'                      => true,
        'phpdoc_scalar'                      => true,
        'phpdoc_separation'                  => true,
        'short_scalar_cast'                  => true,
        'single_blank_line_before_namespace' => true,
        'standardize_not_equals'             => true,
        'ternary_operator_spaces'            => true,
        'whitespace_after_comma_in_array'    => true,
        'concat_space'                       => ["spacing" => "one"],
        'align_multiline_comment'            => ['comment_type' => 'phpdocs_like'],
        'array_syntax'                       => ['syntax' => 'short'],
        'binary_operator_spaces'             => ['default' => 'align'],
        'cast_spaces'                        => ['space' => 'single'],
        'combine_consecutive_issets'         => true,
        'combine_consecutive_unsets'         => true,
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__)
            ->exclude('vendor')
            ->exclude('node_modules')
            ->exclude('plugins')
            ->notPath('adminer.php')
    )
;

return $config;
